
@media screen and (max-width: 2000px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
    font-size: 120%;
    font-family:"Arial";
  }
  .dataTables_length {
    display: none;
  }
  .search {
    text-align: center;
  }
  #buttons {
    text-align: center;
  }
  #mobile {
  width:290px;
  margin: auto;;
  }
}

table.dataTable span.highlight {
  background-color: #FFFF88;
}

.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    width: 95%;
    background: white;
    margin-bottom: auto;

}

    .content {
        padding: 1em;
}
